<p> Add New Task</p>
<form [formGroup]="taskForm" class="form-container" (ngSubmit)="onSumbit()" >
<label for="name">Name: </label>
<input id="name" type="textarea" formControlName="name">
<label for="description">Description: </label>
<input id="description" type="textarea" formControlName="description">
<button mat-raised-button color="primary" type="submit" >Save</button>
</form>


<!--
<mat-form-field appearance="fill">
  <mat-label>Task name</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field>
  <mat-label>Description</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
<mat-form-field>
  <mat-label>Task name</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field>
  <mat-label>Select Status</mat-label>
  <mat-select>
    <mat-option value="Not Started">Not Started</mat-option>
    <mat-option value="In Progress">In Progress</mat-option>
    <mat-option value="Blocked">Blocked</mat-option>
    <mat-option value="Done">Done</mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button color="primary" >Save</button>
<button mat-raised-button color="secondary" >Reset</button>

-->